.gitattributes text eol=lf
*.dvc text eol=lf
.gitignore text eol=lf
justfile text eol=lf
dvc.yaml text eol=lf
dvc.lock text eol=lf
pyproject.toml text eol=lf
uv.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.qmd text eol=lf
*.md text eol=lf
*.scss text eol=lf
*.py text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tex text eol=lf
*.svg text eol=lf
*.bib text eol=lf
*.csl text eol=lf
*.css text eol=lf
*.html text eol=lf
.env*.example text eol=lf

*.parquet binary
*.pkl binary
*.cbm binary
*.duckdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
